* {
  font-family: 'DynaPuff', cursive;
}

body {
  background-color: #79B267;
  height: 100vh;

}

h1 {
  display: flex;
  justify-content: center;

}

.right-section-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 350px;
  background-color: #89b57b;
  display: flex;
  justify-content: center;
  }

.left-section-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 350px;
  background-color: #89b57b;
  display: flex;
  align-items: center;
  flex-direction: column;
  }

button {
  height: 80px;
  width: 80px;
  margin: 20px;
  }

#rock {
  background: transparent;
  background-image: url("assets/rock.png");
  background-size: cover; 
  border: none;
} 

#paper {
  background: transparent;
  background-image: url("assets/paper.png");
  background-size: cover; 
  border: none;
}
 
#scissors {
  background: transparent;
  background-image: url("assets/scissors.png");
  background-size: cover; 
  border: none;
}

#lizard {
  background: transparent;
  background-image: url("assets/lizard.png");
  background-size: cover; 
  border: none;
}

#alien {
  background: transparent;
  background-image: url("assets/alien.png");
  background-size: cover; 
  border: none;
}
  
h2 {
  margin-top: 75px;
}
 
main {
  display: flex;
  justify-content: center;
  border: 2px solid red;
  justify-items: center; 
}  